<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Informacion Legal</h3>
                    <ul>
                        <li><a href="#">Aviso Legal</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Configurar cookies</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>NEXUS TCG</h3>
                    <p>Nacimos de la pasión por los juegos de cartas y la emoción que generan. En Nexus TCG, entendemos
                        lo importante que es tener acceso a cartas de calidad y servicios confiables, por lo que nos
                        enfocamos en ofrecerte una experiencia de compra rápida y segura. Nuestro compromiso va más allá
                        de la venta: queremos ayudarte a mejorar tus estrategias y a disfrutar al máximo de tu
                        colección.</p>
                </div>

                <div class="col item social">
                    <p>Siguenos en nuestras redes sociales</p>
                    <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i>
                    </a><a href="https://www.whatsapp.com"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://www.Twitter.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>
</div>