<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img src="assets/file.png" alt="Logo" width="90" height="70" class="d-inline-block align-text-top">
      NEXUS TCG
    </div>
    <form class="d-flex buscar" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <a href="/registro">Registrarse</a>

    <div class="divCarrito">
      <div class="carrito">
        <img src="assets/iconos/carrito.png" alt="Icono de Carrito" routerLink="/carrito">
      </div>
      @if(estaRegistrado){
        <a style="color: lightblue;" (click)="logout()">Cerrar Sesion</a>
      }@else{
        <div class="usuario">
          <img src="assets/iconos/login2.png" alt="Icono de Usuario" routerLink="/iniciarSesion">
        </div>
      }
    </div>
  </div>

</nav>
<div class="enlaces">
  <ul>
    <li class="nav-item">
      <a class="nav-link" routerLink="/inicio">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tienda">TIENDA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">SOBRE NOSOTROS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contacto">CONTACTO</a>
    </li>
  </ul>
</div>